<link rel="stylesheet" href="/public/asset/css/pages/userAddEditDelete.css">

<div>
  <div class="">
    <% if (flashMessage.includes('成功')) { %>
    <%- include('../common/message_success') %>
    <% } %>

    <% if (!flashMessage.includes('成功')) { %>
    <%- include('../common/message_error') %>
    <% } %>

    <form id="user-add-form" action="/user/crud" method="POST" name="user-add-form">
      <div class="d-flex justify-content-start mt-4">
        <div class="d-flex flex-column justify-content-between">
          <div class="d-flex justify-content-between">
            <div style="width: 18.5rem;" class="d-flex justify-content-between align-items-center mr-5">
              <input style="display: none;" name="userId" value="<%= userInfo.id || "" %>" />
              <label for="fromDate"><%= userInfo.id || "" %></label>
            </div>

            <div style="width: 18.5rem;" class="d-flex justify-content-between align-items-start">
              <label for="toDate">User Name</label>
              <div class="d-flex flex-column">
                <input style="width: 10rem;" id="user-add-name" name="username" type="text" value="<%= userInfo.name || ""  %>" <%= loginUser.position_id != 0 && "disabled"  %>>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-between mt-4">
            <div style="width: 18.5rem;" class="d-flex justify-content-between align-items-start mr-5">
              <label>Email</label>
              <div class="d-flex flex-column">
                <input style="width: 10rem;" id="user-add-email" name="email" type="text" value="<%= userInfo.email || ""  %>" <%= loginUser.position_id != 0 && "disabled"  %>>
              </div>
            </div>

            <div style="width: 18.5rem;" class="d-flex justify-content-between align-items-start">
              <label>Group</label>

              <div class="d-flex flex-column">
                <select style="width: 10rem;" id="user-add-group" name="group" <%= loginUser.position_id != 0 && "disabled"  %>>

                  <% if (groupId == -1) { %>
                  <option selected disabled value></option>
                  <% } %>

                  <% groupList.forEach(function(item) { %>
                  <option <%= groupId == item.id ? "selected" : "" %> value="<%= item.id  %>"><%= item.name  %></option>
                  <% }); %>
                </select>
              </div>


            </div>
          </div>

          <div class="d-flex justify-content-between mt-4">
            <div style="width: 18.5rem;" class="d-flex justify-content-between align-items-start mr-5">
              <label>Started Date</label>

              <div class="d-flex flex-column">
                <input style="width: 10rem;" id="user-update-started-date" name="startedDate" type="text" value="<%= userInfo.started_date || ""  %>" <%= loginUser.position_id != 0 && "disabled"  %>>
              </div>
            </div>

            <div style="width: 18.5rem;" class="d-flex justify-content-between align-items-start">
              <label for="toDate">Position</label>

              <div class="d-flex flex-column">
                <select style="width: 10rem;" id="user-add-position" name="position" <%= loginUser.position_id != 0 && "disabled"  %>>
                  <% if (positionId == -1) { %>
                  <option selected disabled value></option>
                  <% } %>

                  <option <%= positionId == 0 && "selected"  %> value="0">General Director</option>
                  <option <%= positionId == 1 && "selected"  %> value="1">Department Leader</option>
                  <option <%= positionId == 2 && "selected"  %> value="2">Team Leader</option>
                  <option <%= positionId == 3 && "selected"  %> value="3">Team Member</option>
                </select>
              </div>
            </div>
          </div>

          <% if(loginUser.position_id == 0){ %>
          <div class="d-flex justify-content-between mt-4">
            <div style="width: 18.5rem;" class="d-flex justify-content-between align-items-start mr-5">
              <label for="password">Password</label>
              <div class="d-flex flex-column">
                <input style="width: 10rem;" id="user-add-password" name="password" type="text" value="<%= userInfo.password || ''  %>">
              </div>
            </div>

            <div style="width: 18.5rem;" class="d-flex justify-content-between align-items-start">
              <label for="confPassword">Password Confirmation</label>
              <div class="d-flex flex-column">
                <input style="width: 10rem;" id="user-add-confirm-password" name="confirmPassword" type="text" value="<%= userInfo.password || ''  %>">
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
  </div>

  <div style="width: 35%;" class="mt-5">
    <div class="d-flex justify-content-end mt-3">
      <% if(!userInfo.id && loginUser.position_id == 0){ %>
      <button style="width: 6rem;" class="bg-white rounded ml-3" type="submit" onclick="submitAdd()">Register</button>
      <% } %>

      <% if(userInfo.id && loginUser.position_id == 0){ %>
      <button style="width: 6rem;" class="bg-white rounded ml-3" type="submit" onclick="submitUpdate()">Update</button>
      <% if(userInfo.id != loginUser.id ){ %>
      <button style="width: 6rem;" class="bg-white rounded ml-3" type="button" data-toggle="modal" data-target="#delete-user-modal">Delete</button>
      <% } %>
      <% } %>


      <button style="width: 6rem;" class="bg-white rounded ml-3" type="button" onclick="backToUserList()">Cancel</button>
    </div>
  </div>
  </form>

</div>

<div style="margin-top: 20rem;" class="modal fade" id="delete-user-modal" tabindex="-1" role="dialog" aria-labelledby="delete-user-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="delete-user-form" name="delete-user-form" action="/user/delete" method="POST">
        <input style="display: none;" id="del-user-id" name="userId" value="<%= userInfo.id || "" %>" />

        <div class="modal-body">
          <div id="del-message">このユーザーを削除してもいいですか？</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button class="btn btn-danger" type="submit" value="1">OK</button>
        </div>
      </form>
    </div>
  </div>
</div>

</div>

<script src="/public/asset/js/site/userEditDelete.js"></script>
</div>