<div>
  <div class="">
    <% if (flashMessage.includes('成功')) { %>
    <%- include('../common/message_success') %>
    <% } %>

    <% if (!flashMessage.includes('成功')) { %>
    <%- include('../common/message_error') %>
    <% } %>

    <form id="user-list-search-form" action="/user" method="POST" name="user-list-search-form">
      <input class="d-none" name="usernameOrigin" value="<%= username  %>">
      <input class="d-none" name="fromDateOrigin" value="<%= fromDate  %>">
      <input class="d-none" name="toDateOrigin" value="<%= toDate  %>">


      <div class="d-flex justify-content-start mt-4">
        <div class="d-flex flex-column justify-content-between">
          <div style="width: 18.5rem;" class="d-flex justify-content-between">
            <label for="username">User Name</label>

            <div style="height: 3.6rem;" class="d-flex flex-column">
              <input style="width: 10rem;" id="user-list-username" class="form-control" type="text" name="username" value="<%= username  %>">
            </div>
          </div>

          <div class="d-flex justify-content-between">
            <div style="width: 18.5rem;" class="d-flex justify-content-between align-items-start mr-5">
              <label for="fromDate">Started Date From</label>
              <div class="d-flex flex-column">
                <input style="width: 10rem;" id="user-list-from-date" class="form-control" name="fromDate" type="text" value="<%= fromDate  %>">
              </div>
            </div>

            <div style="width: 18.5rem;" class="d-flex justify-content-between align-items-start">
              <label for="toDate">Started Date To</label>
              <div class="d-flex flex-column">
                <input style="width: 10rem;" id="user-list-to-date" class="form-control" name="toDate" type="text" value="<%= toDate  %>">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="width: 35%;" class="mt-5">
        <div class="d-flex justify-content-end mt-3">
          <button style="width: 6rem;" class="rounded btn btn-outline-dark" type="button" onclick="clearSearch()">Clear</button>
          <button style="width: 6rem;" class="btn btn-primary rounded ml-3" type="submit">Search</button>
        </div>
      </div>


  </div>

  <div class="">
    <div class="d-flex justify-content-between">
      <input style="display: none;" id="save-page" name="page" value="<%= currentPage  %>" type="text" />
      <input style="display: none;" id="save-last-page" name="lastPage" value="<%= lastPage  %>" type="text" />

      <% if(totalRow == 0){ %>
      <p>No User Found.</p>
      <% } %>

      <% if(totalRow > 10){ %>
      <div style="" class="mt-4 w-100">
        <div class="d-flex justify-content-center">
          <button id="first-page" class="bg-light rounded-left border <%= currentPage != 1 && "border-secondary"  %>" <%= currentPage == 1 && "disabled"  %> onclick="firstPageClick()">最初</button>
          <button id="prev-page" class="bg-light border <%= currentPage != 1 && "border-secondary"  %>" <%= currentPage == 1 && "disabled"  %> onclick="prevClick()" type="submit">前へ</button>

          <% if(prev3dots){ %>
          <input style="color: #212529; background-color: #f8f9fa; border-color: #f8f9fa; border: 1px solid transparent;" class="" disabled value="..." type="submit" />
          <% } %>

          <% pageArray.forEach(function(item) { %>
          <input style="width: 2.8rem; background-color: white;" class="page-btn <%= item != currentPage ? "border border-secondary" : "border-primary text-primary font-weight-bold"  %>" <%= item == currentPage && "disabled"  %> onclick="pageClick(this)" value="<%= item %>" type="submit" />
          <% }); %>

          <% if(next3dots){ %>
          <input style="color: #212529; background-color: #f8f9fa; border-color: #f8f9fa; border: 1px solid transparent;" class="" disabled value="..." type="submit" />
          <% } %>

          <button id="next-page" class="bg-light border <%= currentPage != pageArray.at(-1) && "border-secondary"  %>" <%= currentPage == pageArray.at(-1) && "disabled"  %> onclick="nextClick()" type="submit">次へ</button>
          <button id="last-page" class="bg-light border rounded-right <%= currentPage != pageArray.at(-1) && "border-secondary"  %>" <%= currentPage == pageArray.at(-1) && "disabled"  %> onclick="lastPageClick()">最終</button>
        </div>
      </div>
      <% } %>

    </div>

    </form>

    <div class="w-100 mt-4">
      <% if(totalRow > 0){ %>
      <table style="table-layout: fixed; width: 50rem;" class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">Group Name</th>
            <th scope="col">Started Date</th>
            <th scope="col">Position</th>
          </tr>
        </thead>
        <tbody>
          <% userList.forEach(function(user) { %>
          <tr>
            <td><% if(loginUser.position_id == 0){ %>
              <a style="text-decoration: underline;" href="/user/crud/<%= user.id %>"><%= user.name %></a>
              <% } %>
              <% if(loginUser.position_id != 0){ %>
              <%= user.name %>
              <% } %>
            </td>
            <td style="text-decoration: underline;"><%= user.email %></td>
            <td><%= user.group_name %></td>
            <td>
              <div style="margin-left: 40%;">
                <%= user.started_date_display %>
              </div>
            </td>
            <td>
              <% if(user.position_id === 0){ %>
              General Director
              <% } %>

              <% if(user.position_id === 1){ %>
              Department Leader
              <% } %>

              <% if(user.position_id === 2){ %>
              Team Leader
              <% } %>

              <% if(user.position_id === 3){ %>
              Team Member
              <% } %>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <% } %>
    </div>

    <% if(loginUser.position_id == 0){ %>
    <div class="mt-4 d-flex justify-content-center">
      <button style="width: 6rem; border-radius: 1.5rem;" class="btn btn-info mr-3" onClick="window.location.href='/user/crud';">Add New</button>

      <% if(totalRow > 0){ %>
      <button style="width: 8rem; height: 2.5rem; border-radius: 1.5rem;" class="btn btn-success" onclick="exportCSV()">Export CSV</button>
      <% } %>
    </div>
    <% } %>

  </div>
</div>

<script src="/public/asset/js/site/userList.js"></script>
</div>